body{width:90%;margin:auto;min-width:600px;max-width:2000px}

.container {
  /*height: 100vh;*/
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px minmax(200px, 1fr) 100px;
  grid-gap: 10px;
}
header {
 grid-column-start: 1;
 grid-column-end: 2;
}
nav{
 grid-column-start: 2;
 grid-column-end: 4; 
}
main {
 grid-row-start:2;
 grid-row-end: 3;
}
aside{
    
grid-column-start: 2;
grid-column-end: 4;  
grid-row-start: 2;
  grid-row-end: 4;
}
footer{
grid-column-start: 1;
grid-column-end: 4;

position: absolute; 
left: 0 ; right: 0; bottom: 0; 
height:[footer-height] 
}

/* ===================================== 
   Page Styles
======================================== */
* {
	box-sizing: border-box;
}

body {
	font-size: 1.4em;
	font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.container > * {
  
}


header h1{
  font-family: cormorant-garamond, serif;
    font-size: 35px;
    color:#9F9F9F;
    
    text-align: left;
    padding: 20px;
    margin-left: 30px
}


nav {
    text-align: right;
    padding: 20px
}

    
nav ul li{
    display: inline;
    font-family: cormorant-garamond, serif;
    font-size: 35px;
    color:#9F9F9F;
    background-color: #fff;
    
}

nav ul li a {
    text-decoration: none;
    color: #9F9F9F;
    padding: 40px;
    }



main {
  font-family: cormorant-garamond, serif;
    font-size: 35px;
    color:#6c6c6c;
    background-color: #fff;
    text-align: center;
    margin-top: 300px;
    padding: 100px;
   
}

aside {
  background-color: #fff; 
    margin-top: 25px;
    padding: 100px 0px 0px 0px;
    text-align:center;
}
footer {
    font-family: cormorant-garamond, serif;
    font-size: 30px; 
    color: #000;
    background-color: #BFBFBF;
    text-align: center;
   
}
  
footer h3 {
    text-align: left;
    margin: 0px;
    padding: 20px;
    display: inline;
}

footer img {
  text-align: center;
    display: inline;
     padding: 20px
}