/*Ensure proper sizing */
*{
    box-sizing: border-box;
}
/* Column container */
.row {
  display: flex;
  flex-wrap: nowrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 50%; /* Set the width of the sidebar */
  background-color: #fff; /* Grey background color */
  padding: 200px 0px 0px 0px; /* Some padding */
  margin: 0px;
   text-align: center;
    color:#9F9F9F;
}

/* Main column */
.main {
  flex: 50%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
    text-align: center;
}

body {
  font-family: cormorant-garamond, serif;
    font-size: 30px;
}

    

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: 333;
}



.navbar a {
     float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: gray; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

.navbar a.right {
    float: right;
}

.footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #ddd; /* Grey background */

